{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1 style="text-align: center;
  margin-bottom: 1rem;
">Foodswap</h1>

    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Uitjes</h5>
                <h6 class="card-subtitle mb-2 text-muted">uitjes</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button  type="button" class="btn btn-info"><a  style="color: white"href="http://127.0.0.1:8000/uitje" class="card-link">Uitjes</a></button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Doneer</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-success"><a style="color: white" href="http://127.0.0.1:8000/donatie" class="card-link">Doneer</a></button>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">winkels</h5>
                <h6 class="card-subtitle mb-2 text-muted">winkels</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button type="button" class="btn btn-info"><a style="color: white;" href="http://127.0.0.1:8000/winkel" class="">Winkel</a></button>
            </div>
        </div>


    </div>

{% endblock %}
