{% extends 'base.html.twig' %}

{% block title %}Food-swap!!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="display-1" style="text-align: center;
  margin-bottom: 5rem;
    margin-top: 3rem;

">Foodswap</h1>


        <div style="text-align: center" class="row">
            <div class="col-sm-4">
                <div class="card">
                    <div  style="height: 200px" class="card-body">
                        <h4 style="text-align: center" class="card-title">uitjest</h4>
                        <p class="card-text">Om te zien wat voorn uitjes er Zijn. En voor meer informatie er over.</p>
                        <a href="{{ path('uitje_index') }}" class="btn btn-info">Doneer</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div style="text-align:center"  class="card">
                    <div style="height: 200px" class="card-body">
                        <h3 class="card-title">Donatie</h3>
                        <p class="card-text">Maak nu zelf een donatie.</p>
                        <a style="margin-top: 5%" href="{{ path('donatie_index') }}" class="btn btn-success">Doneer</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div  class="card">
                    <div style="height: 200px"  class="card-body">
                        <h4 style="text-align: center" class="card-title">Winkels</h4>
                        <p class="card-text">voor meer info over de winkels en waar je donaties kan maken klik hier onder.</p>
                        <a href="{{ path('winkel_index') }}" class="btn btn-info">Winkels</a>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 25% "class="row">
            <div class="col">
                <h6>Meer Info</h6>
             <ul>
                 <li><a href="http://127.0.0.1:8000/info" class="link">info over ons</a></li>
                 <li><a href="http://127.0.0.1:8000/faq" class="">FAQ</a></li>
                 <li>mijn info</li>
             </ul>
            </div>

        </div>
    </div>

{% endblock %}
