{% extends 'base.html.twig' %}
{% block title %}Food-swap!!{% endblock %}
{% block body %}
    <div class="container">
        <div>
        <h1 style="text-align: center;
margin-top: 2rem" class="display-3"> Ons Verhaal </h1>
        </div>
        <div style="margin-top: 3rem" >
            <p>
                Wij zijn ‘FoodSwap’, een bedrijf dat bestaat uit een groep jonge studenten, studerend aan de Haagse Hogeschool, die samen een idee hebben bedacht om de wereld een stukje beter te maken. Wij hebben samen een project opgezet aan de hand van de SDG (Sustainable Development Goals): Zero Hunger. Er wordt wereldwijd teveel voedsel verspilt. Wij willen de voedselverspilling in Nederland tegengaan. Volgens het Voedingscentrum verspillen wij per persoon gemiddeld 34 kg per jaar aan voedsel. Hier willen wij met ons project iets aan doen. Bij het maken van de app hebben wij gedacht aan mensen die het iets minder hebben in onze maatschappij. De punten die gespaard kunnen worden, zijn mede mogelijk gemaakt door onze partners.
            </p>
            <p>
                Mocht u nog vragen of suggesties hebben voor de app, dan kunt u contact met ons opnemen.
                <ul>
                    <li>
                        06-10203040
                    </li>
                    <li>
                        info@foodswap.nl
                    </li>
                </ul>
            </p>

            <div style="margin-top: 2rem">
                <h6>Personen die aandit project hebben meegewerkt </h6>
                <ul>
                    <li>Joeri Mekking</li>
                    <li>Kulwarn Singh</li>
                    <li>Ilias El Bouchakroudi</li>
                    <li>Aimane Lamzira</li>
                    <li>Thimo van ’t Hooft</li>
                </ul>
            </div>

        </div>
        <a style="margin-top: 3rem" class="btn btn-info" href="http://127.0.0.1:8000/">Terug</a>

    </div>


{% endblock %}