{% extends 'base.html.twig' %}

{% block title %}Hello BedanktController!{% endblock %}

{% block body %}




<div class="example-wrapper">
    <h1>Bedankt voor de donatie! ✅</h1>
</div>
   <a href="http://127.0.0.1:8000/">return dashboard</a>


{% endblock %}
