{% extends 'base.html.twig' %}

{% block title %}Edit Donatie{% endblock %}

{% block body %}
    <h1>Edit Donaties</h1>

    {{ include('donatie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('donatie_index') }}">back to list</a>

    {{ include('donatie/_delete_form.html.twig') }}
{% endblock %}
